<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue TODO List</title>
</head>
<body>
    
    <div id="app">

        <!--MILESTONE 1-->
        <ul>
            <li
                v-for="(item, index) in toDoList"
                :class="{checked: item.done}"
            >
                <!--MILESTONE 2-->
                <button
                    @click="removeElement(index)"
                >
                    x
                </button>
                <span>{{ item.text }}</span>
            </li>
        </ul>

        <label for="add-to-list">Nuovo TODO</label>
        <input
            type="text"
            id="add-to-list"
            v-model="addedItem"
        >
        <button @click="addElement(addedItem)">Aggiungi</button>

    </div>


    <!--inclusion js-->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/main.js" type="text/javascript"></script>
    <!--inclusion js-->

</body>
</html>