<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue TODO List</title>
</head>
<body>
    
    <div id="app" v-cloak>

        <!--MILESTONE 1-->
        <ul
            v-if="list === false"
        >
            <li
                v-for="(item, index) in filteredArray"
                :class="{checked: item.done}"
            >
                {{ item.text }}
            </li>
        </ul>
        <ul v-else>
            <li
                v-for="(item, index) in toDoList"
                :class="{checked: item.done}"
            >
                <!--MILESTONE 2-->
                <button
                    @click="removeElement(index)"
                >
                    x
                </button>
                <!--BONUS 2-->
                <span
                    @mousedown="checkItem(index)"
                >
                    {{ item.text }}
                </span>
            </li>
        </ul>

        <!--MILESTONE 3-->
        <label for="add-to-list">Nuovo TODO</label>
        <input
            type="text"
            id="add-to-list"
            v-model="addedItem"
            placeholder="Scrivi nuovo TODO"
            @keyup.enter="addElement()"
        >
        <button @click="addElement()">Aggiungi</button>

        <!--BONUS 3-->
        <div class="searchInput">

            <label for="search-todo"></label>
            <input
                type="text"
                id="search-todo"
                v-model="searchedItem"
                placeholder="Cerca TODO"
                @keyup.enter="clearInput()"
                @keyup="searchElement($event)"
            >
            <button @click="clearInput()">Cerca</button>

        </div>
        
    </div>


    <!--inclusion js-->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/main.js" type="text/javascript"></script>
    <!--inclusion js-->

</body>
</html>